<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib\NLog.4.7.0;lib\MVVMLight.Messaging.1.0.0.0;lib\MahApps.Metro.1.6.5;lib\MahApps.Metro.IconPacks.Material.4.0.0;lib\ControlzEx.3.0.2.4"/>
    </assemblyBinding>
  </runtime>
</configuration>